mobile-smallest()
  @media (max-width: 413px)
    {block}

mobile-small()
  @media (max-width: 567px)
    {block}

mobile()
  @media (max-width: 767px)
    {block}

tablet-mobile()
  @media (max-width: 991px)
    {block}

tablet()
  @media (min-width: 768px) and (max-width: 991px)
    {block}

desktop()
  @media (min-width: 992px)
    {block}

desktop-large()
  @media (min-width: 1200px)
    {block}

desktop-largest()
  @media (min-width: 1600px)
    {block}
