
@import '_mixins/base.styl'

*, *::before, *::after
  box-sizing border-box

html, body, main
  height 100%

body
  font-family Optima-Regular, Optima, PingFangSC-light, PingFangTC-light, 'PingFang SC', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
  font-weight 300
  font-style normal
  color #333
  background #fff
  -webkit-font-smoothing antialiased

@import '_partible/index.styl'
@import '_partible/post.styl'
